<h2>
  Paises

</h2>

<hr>

<ul class="list-group">
<!--
    <li [routerLink]="''"
  [routerLinkActiveOptions]="{exact:true}"
  routerLinkActive="active"
  class="list-group-item">
    Home page
  </li>

  <li
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}"
  routerLink="about"
  class="list-group-item">
    About page
  </li>

  <li
  routerLinkActive="active"
  routerLink="contac"
  [routerLinkActiveOptions]="{exact:true}"
  class="list-group-item">
    Contac page
  </li>


-->
  <li
  routerLinkActive="active"
  routerLink="countries/by-capital"
  [routerLinkActiveOptions]="{exact:true}"
  class="list-group-item">
    Por Capital
  </li>
  <li
  routerLinkActive="active"
  routerLink="countries/by-country"
  [routerLinkActiveOptions]="{exact:true}"
  class="list-group-item">
   Por Pais
  </li>

  <li
  routerLinkActive="active"
  routerLink="countries/by-region"
  [routerLinkActiveOptions]="{exact:true}"
  class="list-group-item">
    Por Region
  </li>

</ul>
